/* ======== Reseting CSS ======== */

*{margin:0;
padding:0;
box-sizing: border-box;
/* border: 1px solid #f00; */
}

/* ======== Layout ======== */
:root{
  /*dark-mode*/
  --text-color:#a3a3a3;
  --bg-color:hsl(220, 90%, 22%);
  --bg-color-2:hsl(220, 90%, 17%);
  /*Light-mode*/
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 100vw;
}
a{
  text-decoration: none;
  color:var(--text-color);
}

/* ======== Self Intro ======== */
aside{
  width: 30%;
  align-items: center;
  text-align: center;
}

aside figure img{
  margin: 1em 0;
  max-width: 80%;
  border-radius: 50%;
  padding:4px;
  background: linear-gradient(270deg,hsl(120, 81%, 54%),hsl(170, 81%, 54%),hsl(220, 81%, 54%));
}

.techs{
  color: black;
  background: linear-gradient(270deg,hsl(120, 81%, 54%),hsl(170, 81%, 54%),hsl(220, 81%, 54%));
  margin:1em 1em;
  border-radius:9px;
}
.techs section{
  background: var(--bg-color-2);
  border-radius:5px;
}
.techs img{
  max-width: 25%;
  padding:0.3em;
  margin:0.3em;
}